* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "marion-standard", sans-serif;
    background-color: #f9f9f9;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: white;
    width: 95%;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "marion-standard", sans-serif;
}

h1 {
    font-family: r41-stop-uppercase, sans-serif;
    font-size: 60px;
    margin: 2rem 0 2rem 2rem;
}

.albums {
}

.album-box-row {
    /*border: 3px solid greenyellow;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;

    .album-art {
        width: 25%;
        min-width: 335px;
        align-content: center;

        img {
            width: 100%;
            box-shadow: 0 0 15px 0 black;
        }
    }

    .content {
        /*border-radius: 10px;*/
        display: flex;
        flex-wrap: wrap;
        width: 72%;
        min-width: 335px;
        color: white;
        background-color: #97383e;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 15px 0 black;


        .top-songs {
            /*border: 3px solid orange;*/
            font-family: "pf-fuel-grime", sans-serif;
            width: 40%;
            min-width: 300px;
            margin: 2rem;

            .title {
                font-size: 55px;
                margin-left: 0.5rem;
            }

            .top3 {
                font-size: 30px;
                text-align: left;
            }
        }
    }

    .description {
        /*border: 2px solid blue;*/
        font-size: 18px;
        width: 50%;
        min-width: 300px;
        margin: 0.5rem;
        overflow: scroll;
    }
}